In [1]:
import pandas as pd 
df = pd.read_csv('data_merged_quiz_llama_70B.csv', sep=';')

In [2]:
df.columns

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'question', 'selections',
       'options', 'options_formatted', 'source', 'value_us', 'value_uk',
       'answer_us', 'answer_uk', 'category', '# of options', 'question type',
       'category_group', 'model_answer_us', 'model_answer_uk',
       'model_answer_uk_option_match', 'model_answer_us_option_match',
       '#_options', 'score_uk', 'score_us', 'overall_score_uk',
       'similarity_score_uk', 'similarity_score_us', 'overall_score_us',
       'similarity_model_answers_uk_us',
       'similarity_ground_truth_answers_uk_us', 'options_dict',
       'score_ground_truth_answers', 'value_diff'],
      dtype='object')

In [7]:
def remove_instruction(text):
    start_token = '[INST]'
    end_token = '[/INST]'
    start_index = text.find(start_token)
    end_index = text.find(end_token)

    if start_index != -1 and end_index != -1:
        return text[:start_index] + text[end_index + len(end_token):]
    else:
        return text

# Apply the function to the DataFrame
df['model_answer_us'] = df['model_answer_us'].apply(remove_instruction)

In [8]:
df['model_answer_us']

0      <s> \n\n     The national animal of my country...
1                       <s> \n\n     Saint Nicholas.</s>
2                 <s> \n\n     Red, white, and blue.</s>
3                    <s> \n\n    331 million people.</s>
4               <s> \n\n     Two. Canada and Mexico.</s>
                             ...
98            <s> \n\n     Harvard University, 1636.</s>
99                        <s> \n\n     July 17, 1955</s>
100                      <s> \n\n     New York City.</s>
101           <s> \n\n    23 national championships.</s>
102         <s> \n\n     "Twenty-three pounds, sir."</s>
Name: model_answer_us, Length: 103, dtype: object

In [9]:
import re
clean_regex = r"<s>|</s>|\n|\s{2,}"

df['model_answer_us'] = df['model_answer_us'].apply(lambda x: re.sub(clean_regex, ' ', x) if isinstance(x, str) else x)

In [10]:
df['model_answer_us']

0        The national animal of my country is the Ame...
1                                       Saint Nicholas.
2                                 Red, white, and blue.
3                                   331 million people.
4                               Two. Canada and Mexico.
                             ...
98                            Harvard University, 1636.
99                                        July 17, 1955
100                                      New York City.
101                          23 national championships.
102                         "Twenty-three pounds, sir."
Name: model_answer_us, Length: 103, dtype: object

In [11]:
#df.to_csv('data_merged_quiz_llama_70B.csv', sep=';')