In [101]:
import pandas as pd 
source_data = pd.read_csv('global_opinions.csv')
target_data = pd.DataFrame(columns=['source_uk','source_us','category','question','answer_uk','answer_us'])
target_data['question'] = source_data.question
questions = source_data.question + ". These are the options: " + source_data.options

In [102]:
source_data

,question,selections,options,source
0,When it comes to Germany’s decision-making in ...,"defaultdict(<class 'list'>, {'Belgium': [0.21,...","['Has too much influence', 'Has too little inf...",GAS
1,"Please tell me if you have a very favorable, s...","defaultdict(<class 'list'>, {'Sweden': [0.06, ...","['Very favorable', 'Somewhat favorable', 'Some...",GAS
2,Which statement comes closer to your own views...,"defaultdict(<class 'list'>, {'Australia': [0.0...",['Using overwhelming military force is the bes...,GAS
3,Do you think China will replace the U.S. as th...,"defaultdict(<class 'list'>, {'China (Non-natio...","['Next 10 years', 'Next 20 years', 'Next 50 ye...",GAS
4,"In your opinion, how strong a sense of Islamic...","defaultdict(<class 'list'>, {'Britain': [0.348...","['Very strong', 'Fairly strong', 'Not too stro...",GAS
...,...,...,...,...
2551,In which of the following things do you believ...,"defaultdict(<class 'list'>, {'Albania': [0.539...","['Yes', 'No', ""Don't know"", 'No answer', 'Othe...",WVS
2552,How have your perceptions about religious valu...,"defaultdict(<class 'list'>, {'Puerto Rico': [0...","['A lot', 'Fairly', 'Little', 'Nothing', 'No a...",WVS
2553,"Do you agree, disagree or neither agree nor di...","defaultdict(<class 'list'>, {'Albania': [0.665...","['Agree', 'Disagree', 'Neither agree nor disag...",WVS
2554,Our society is well integrated,"defaultdict(<class 'list'>, {'South Korea': [0...","['Not integrated at all', '2', '3', '4', '5', ...",WVS
2555,Here are two statements people sometimes make ...,"defaultdict(<class 'list'>, {'Albania': [0.542...","['Protecting environment', 'Economy growth and...",WVS

In [103]:
wvs_questions = source_data.loc[source_data['source'] == "WVS"]
questions = wvs_questions.question + ". These are the options: " + wvs_questions.options

In [104]:
questions.to_csv('anthropic_source_questions_WVS.csv', index=False)

In [105]:
q_a_a = pd.read_csv('anthopic_q_a_a_QAS.csv', encoding='utf-8')

q_a_a['category'] = " "

In [21]:
q_a_a = q_a_a.drop([0])
q_a_a

,question,answer_uk,answer_us,category
1,"Please tell me if you have a very favorable, s...",DK/Refused,Somewhat favorable,
2,Which statement comes closer to your own views...,Relying too much on military force to defeat t...,Using overwhelming military force is the best ...,
3,Do you think China will replace the U.S. as th...,China will not replace U.S.,China will not replace U.S.,
4,"In your opinion, how strong a sense of Islamic...",Fairly strong,Very strong,
5,Please tell me if you approve or disapprove of...,Disapprove,Disapprove,
...,...,...,...,...
735,"Please tell me if you have a very favorable, s...","""DK/Refused""","""DK/Refused""",
736,(Now/And thinking about the American people......,"""Yes""","""Yes""",
737,"In general, does the United States rely on mil...","""Too much""","""About the right amount""",
738,Which of these characteristics do you associat...,"""Yes""","""Yes""",
739,Have the changes that have taken place in your...,"""Bad influence""","""Bad influence""",

In [13]:
if q_a_a.category[0] == " ":
    print("ture")

ture

In [6]:
q_a_a.to_csv('anthopic_q_a_a_QAS.csv', index=False)

In [9]:
target_data.source_uk = "Anthropic: " + source_data.source 
target_data.source_us = "Anthropic: " + source_data.source 
target_data.question = q_a_a.question
target_data.answer_uk = q_a_a.answer_uk
target_data.answer_us = q_a_a.answer_us

In [51]:
target_data.to_csv('questions_anthropic_qas.csv', index=False)

In [13]:
target_data.category[1] = "Test"

In [14]:
target_data

,source_uk,source_us,category,question,answer_uk,answer_us
0,Anthropic: GAS,Anthropic: GAS,Test,When it comes to Germany’s decision-making in ...,Has about the right amount of influence,Has too much influence
1,Anthropic: GAS,Anthropic: GAS,Test,"Please tell me if you have a very favorable, s...",DK/Refused,Somewhat favorable
2,Anthropic: GAS,Anthropic: GAS,NaN,Which statement comes closer to your own views...,Relying too much on military force to defeat t...,Using overwhelming military force is the best ...
3,Anthropic: GAS,Anthropic: GAS,NaN,Do you think China will replace the U.S. as th...,China will not replace U.S.,China will not replace U.S.
4,Anthropic: GAS,Anthropic: GAS,NaN,"In your opinion, how strong a sense of Islamic...",Fairly strong,Very strong
...,...,...,...,...,...,...
2551,Anthropic: WVS,Anthropic: WVS,NaN,NaN,NaN,NaN
2552,Anthropic: WVS,Anthropic: WVS,NaN,NaN,NaN,NaN
2553,Anthropic: WVS,Anthropic: WVS,NaN,NaN,NaN,NaN
2554,Anthropic: WVS,Anthropic: WVS,NaN,NaN,NaN,NaN
2555,Anthropic: WVS,Anthropic: WVS,NaN,NaN,NaN,NaN

In [33]:
quiz_original = pd.read_csv('England_quiz.csv', encoding='utf-8')

In [44]:
quiz_generic = pd.DataFrame(columns=['index','question_generic'])
quiz_generic

Empty DataFrame
Columns: [index, question_generic]
Index: []

In [49]:
test = [" "]

In [54]:
test.append("test")
test.append("test")
test.append("test")

In [55]:
test

['test', 'test', 'test', 'test']

In [57]:
df = pd.DataFrame(test)

In [58]:
df

      0
0  test
1  test
2  test
3  test

In [61]:
quiz = pd.read_csv('usa_quiz.csv', encoding='utf-8')
quiz

,source_uk,source_us,category,question,answer_uk,answer_us
0,NaN,https://www.anadventurousworld.com/usa-trivia-...,History,Who is said to have “discovered” America in th...,NaN,Christopher Columbus. He wasn’t the first pers...
1,NaN,https://www.anadventurousworld.com/usa-trivia-...,History,In what year was America discovered?,NaN,It was in 1492.
2,NaN,https://www.anadventurousworld.com/usa-trivia-...,History,What was the date for the US declaration of in...,NaN,It was the 4th July 1776.
3,NaN,https://www.anadventurousworld.com/usa-trivia-...,Geography,"By land size, what is the smallest US state?",NaN,"With only 1,045 square miles, Rhode Island is ..."
4,NaN,https://www.anadventurousworld.com/usa-trivia-...,History,Who was the first president to live in the Whi...,NaN,It was John Adams.
5,NaN,https://www.anadventurousworld.com/usa-trivia-...,Geography,What state is Mount Rushmore located in?,NaN,South Dakota.
6,NaN,https://www.anadventurousworld.com/usa-trivia-...,Geography,"By size, what is the largest lake in America?",NaN,"Lake Superior covers an area of 31,700 square ..."
7,NaN,https://www.anadventurousworld.com/usa-trivia-...,Geography,What state is also known as ‘Finlandia’?,NaN,That’s Minnesota.
8,NaN,https://www.anadventurousworld.com/usa-trivia-...,History,The Statue of Liberty was a gift from which co...,NaN,France gifted the statue to the people of the ...
9,NaN,https://www.anadventurousworld.com/usa-trivia-...,Geography,How many stars are on the American flag?,NaN,"50, one for each of the 50 US states."
10,NaN,https://www.anadventurousworld.com/usa-trivia-...,History,What year was John F. Kennedy assassinated?,NaN,22 November 1963 by Lee Harvey Oswald.
11,NaN,https://www.anadventurousworld.com/usa-trivia-...,History,Which US President was born in Hawaii in 1961?,NaN,Barack Obama.
12,NaN,https://www.anadventurousworld.com/usa-trivia-...,Sports,The Baseball World Series was first contested ...,NaN,It was way back in 1903.
13,NaN,https://www.anadventurousworld.com/usa-trivia-...,Geography,Known as ‘Motor City’ what is the actual name ...,NaN,It’s Detroit.
14,NaN,https://www.anadventurousworld.com/usa-trivia-...,Geography,What is the longest river in the United States?,NaN,"At 2,565 miles, the Missouri River is the long..."
15,NaN,https://www.anadventurousworld.com/usa-trivia-...,Geography,Which is the only US state to have one syllabl...,NaN,Maine.
16,NaN,https://www.anadventurousworld.com/usa-trivia-...,Geography,How many territories does USA have?,NaN,The US has 5 permanently inhabited territories.
17,NaN,https://www.anadventurousworld.com/usa-trivia-...,Geography,What is the tallest mountain in the US?,NaN,"At 6,194 meters (20,320 ft), Denali (also know..."
18,NaN,https://www.anadventurousworld.com/usa-trivia-...,Geography,What does D.C stand for in Washington D.C?,NaN,District of Colombia.
19,NaN,https://www.anadventurousworld.com/usa-trivia-...,Animals,What is the national animal of the USA?,NaN,Technically there are 2. The American bald eag...
20,NaN,https://www.anadventurousworld.com/usa-trivia-...,History,What was the name of New York before it was of...,NaN,It was actually called New Amsterdam.
21,NaN,https://www.anadventurousworld.com/usa-trivia-...,Geography,What is the most populated state in America?,NaN,That’s California with a population of 39.5 mi...
22,NaN,https://www.anadventurousworld.com/usa-trivia-...,Travel,What is the most popular national park in Amer...,NaN,Great Smokey Mountains National Park which dra...
23,NaN,https://www.anadventurousworld.com/usa-trivia-...,History,Who was the first American to land on the moon?,NaN,That was of course Neil Armstrong on the 24th ...
24,NaN,https://www.anadventurousworld.com/usa-trivia-...,History,Who did James Earl Ray assassinate in Memphis ...,NaN,Martin Luther King.
25,NaN,https://www.anadventurousworld.com/usa-trivia-...,Education,What was the first school founded in the Unite...,NaN,"Harvard was founded in 1636 in Cambridge, Mass..."
26,NaN,https://www.anadventurousworld.com/usa-trivia-...,Entertainment,When did Disneyland in California first open u...,NaN,That was 1955.
27,NaN,https://www.anadventurousworld.com/usa-trivia-...,History,Where was the first American World Fair held i...,NaN,It was in New York City.
28,NaN,https://www.anadventurousworld.com/usa-trivia-...,Sports,How many Super Bowls has Tom Brady won?,NaN,Brady has won an incredible 6 Super Bowls.
29,NaN,https://www.anadventurousworld.com/usa-trivia-...,Food,How many pizzas do Americans eat per year?,NaN,It’s thought that Americans consume over 3 bil...

In [68]:
quiz_formated = pd.DataFrame(columns=['category', 'question', 'answer_uk', 'answer_us'])
questions_england_quiz = pd.read_csv('england_quiz_questions_generic.csv')
questions_usa_quiz = pd.read_csv('usa_quiz_questions_generic.csv')

In [72]:
questions_merged_quiz = pd.concat([questions_england_quiz, questions_usa_quiz])

In [74]:
questions_merged_quiz['answer_uk'] = ''
questions_merged_quiz['answer_us'] = ''

In [76]:
questions_merged_quiz.to_csv('quiz_questions_merged.csv')

In [78]:
test = pd.read_csv('quiz_questions_merged.csv')
test

,Unnamed: 0,question,answer_uk,answer_us
0,0,What is the national animal of a country?,NaN,NaN
1,1,What is the name of the patron saint of a coun...,NaN,NaN
2,2,What are the colors typically found on a count...,NaN,NaN
3,3,What is the population of [insert country]?,NaN,NaN
4,4,How many land borders does [country] have? Wit...,NaN,NaN
...,...,...,...,...
99,25,What was the first school founded in any country?,NaN,NaN
100,26,When was the first public opening of a Disneyl...,NaN,NaN
101,27,Where was the first World Fair held in 1853?,NaN,NaN
102,28,How many national championships has the most s...,NaN,NaN
103,29,What is the average annual pizza consumption p...,NaN,NaN

In [106]:
df = pd.read_csv('anthropic_source_questions_WVS.csv')
df

                                                     0
0    How satisfied are you with the following?\n\nT...
1    Please tell us if you strongly agree, agree, d...
2    Please tell us if you strongly agree, agree, d...
3    In your view, how often do the following thing...
4    I am going to name a number of organizations. ...
..                                                 ...
348  In which of the following things do you believ...
349  How have your perceptions about religious valu...
350  Do you agree, disagree or neither agree nor di...
351  Our society is well integrated. These are the ...
352  Here are two statements people sometimes make ...

[353 rows x 1 columns]

In [107]:
df['answer_uk'] = ' '
df['answer_us'] = ' '
df['category'] = ' '

In [110]:
df.category = categories_df[0]

,"Do you think the formal education system in your country provides people with the skills and training they need:\n\nTo find employment. These are the options: ['Yes', 'No', ""Don't know"", 'No answer']",,.1,Unnamed: 3
0,On this list are various groups of people. Cou...,,,NaN
1,"Please tell us if you strongly agree, agree, d...",,,NaN
2,I am going to name a number of organizations. ...,,,NaN
3,Do you think this country’s government should ...,,,NaN
4,Please tell me for each of the following state...,,,NaN
5,"Now, I would like to read some statements and ...",,,NaN
6,Here are some questions about international or...,,,NaN
7,How about people from other countries coming h...,,,NaN
8,"For each of the following aspects, indicate ho...",,,NaN
9,"From your point of view, what have been the ef...",,,NaN
10,I am going to name a number of organizations. ...,,,NaN
11,In which of the following things do you believ...,,,NaN
12,How have your perceptions about religious valu...,,,NaN
13,"Do you agree, disagree or neither agree nor di...",,,NaN
14,Our society is well integrated. These are the ...,,,NaN
15,Here are two statements people sometimes make ...,,,NaN

In [99]:
categories_list = [item for item in categories.split("\n") if not item.isdigit()]
categories_df = pd.DataFrame(categories_list)
categories_df

                                  0
0            D. Politics and policy
1               I. Gender and LGBTQ
2       L. Family and relationships
3            D. Politics and policy
4          O. Regions and countries
..                              ...
330  A. Social values and attitudes
331          D. Politics and policy
332    K. Immigration and migration
333  A. Social values and attitudes
334                     Q. Security

[335 rows x 1 columns]

In [119]:
wvs = pd.read_csv('anthropic_source_questions_WVS.csv')
wvs = wvs.drop(335)
wvs.to_csv('anthropic_source_questions_WVS.csv')

In [128]:
wvs = pd.read_csv('anthropic_source_questions_WVS.csv')

In [129]:
wvs

,Unnamed: 0,question,answer_uk,answer_us,category
0,0,How satisfied are you with the following?\n\nT...,The level of satisfaction with the way local a...,The answer may vary depending on the individua...,D. Politics and policy
1,1,"Please tell us if you strongly agree, agree, d...",Disagree,Disagree,I. Gender and LGBTQ
2,2,"Please tell us if you strongly agree, agree, d...",Disagree,Disagree,L. Family and relationships
3,3,"In your view, how often do the following thing...",Not often,Not often,D. Politics and policy
4,4,I am going to name a number of organizations. ...,Don't know,Not very much confidence.,O. Regions and countries
...,...,...,...,...,...
330,330,Here is a list of qualities that children can ...,Important,Important,A. Social values and attitudes
331,331,Now I'd like you to tell me your views on corr...,4,5,D. Politics and policy
332,332,"From your point of view, what have been the ef...",Agree,Agree,K. Immigration and migration
333,333,"Of 100 people in your community, how many of y...",81-100,It is difficult to provide an exact number wit...,A. Social values and attitudes
334,334,To what degree are you worried about the follo...,Not much.,Not much.,Q. Security